<div class="wrapper wrapper-content animated fadeIn">
    <%- include('./include/selectDate.ejs') %>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="echarts" id="report"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/echarts.min.js"></script>
<script src="/javascripts/report.js"></script>